.footer {
  position: fixed;
  margin-top:auto !important;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6C757DFF;
  color: white;
  height: 80px;
  text-align: left;
  padding: 20px 80px;
  a {
    color: #fcfcfc!important;
    text-decoration: none;
  }
}
