##################### Grafana Configuration Example #####################
#
# Everything has defaults so you only need to uncomment things you want to
# change

#################################### Server ####################################
[server]
# The http port  to use
;http_port = 3000

# The public facing domain name used to access grafana from a browser
domain = {{ domain }}

# Redirect to correct domain if host header does not match domain
# Prevents DNS rebinding attacks
enforce_domain = true

# The full public facing url you use in browser, used for redirects and emails
# If you use reverse proxy and sub path specify full url (with sub path)
root_url = %(protocol)s://%(domain)s:%(http_port)s/grafana

# Serve Grafana from subpath specified in `root_url` setting. By default it is set to `false` for compatibility reasons.
serve_from_sub_path = true

[dashboards]
default_home_dashboard_path = /etc/grafana/provisioning/dashboards/JVM.json
