.filterChip {
  padding: 0.75em;
  margin: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

.icon {
  margin-left: 1em;
}

.materialImage {
  width: 100px;
}

.cust-results {
  margin: 30px 0px;
  text-transform: none !important;
}

.cust-select-limit {
  margin: 30px -12px;
}
.cust-seacrh-component {
  margin-top: 60px;
}
