version: '3.2'

networks:
  application: {}

services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    networks:
      application: {}
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl.key:/ssl/ssl.key
      - ./ssl.pem:/ssl/ssl.pem
    extra_hosts:
      - host.docker.internal:172.17.0.1

  jenkins:
    image: jenkins/jenkins
    restart: unless-stopped
    networks:
      application: { }
    environment:
        JENKINS_OPTS: "--prefix=/jenkins"
    extra_hosts:
      - host.docker.internal:172.17.0.1
